.mainBlock {
    height: 700px;
    background-image: url('../EatsResturant/heroBcc.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.container {
    align-self: center;
    display: grid;
    align-items: center;
    max-width: 800px;
    grid-template-rows: 116px 170px 48px 284px;
    color: var(--font-color-first-section);
}

.mainBlock p {
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.1px;
text-align: center;

}

.order {
font-size: 24px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.2px;
}

.bigBtn {
    height: 68px;
    width: 236px;
    border-radius: 30px;
    padding: 16px 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;
    text-align: center;
    font-family: Montserrat;
    cursor: pointer;
}

.btnBlock {
    display: flex;
    justify-content: space-evenly;
}
.bigBtn:first-of-type {
    background-color: var(--button-color);
    color: var(--font-color-first-section);
}
.bigBtn:first-of-type:hover {
    background-color:unset;
    border: 1px solid var(--font-color-first-section);
    color: var(--font-color-first-section);
}

.bigBtn:last-of-type {
    background-color:unset;
    border: 1px solid var(--font-color-first-section);
    color: var(--font-color-first-section);
}

.bigBtn:last-of-type:hover {
    background-color: var(--button-color);
    color: var(--font-color-first-section);
}

