li img {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 200px;
    border-radius: 10px  10px 0 0;
    transition: transform 500ms ease;
}
li img:hover {
    transform: scale(1.1);
}

li h3 {
    color: darkcyan;
    font-size: 14px;
}

li p {
    color: crimson;
    font-size: 18px;
    font-style: oblique;
    font-weight: 700;
}

