.waterSt {
    color: aquamarine;
}

.iceSt {
    color: blue;
}

.steamSt {
    color: darkgrey;
}

/* .waterStyle{
    background-color: lightblue;
}

.iceStyle{
    background-color: blue;
}

.steamStyle{
    background-color: red;
} */
